<!--The content below is only a placeholder and can be replaced.-->
<div class="container--geral">
  <div class="">
    <form [formGroup]="cadastro" class="">
      <div>
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          (keypress)="validaEmail($event)"
          formControlName="email"
        />
        <p class="error-email" *ngIf="!email?.valid">Email invalido!</p>
      </div>
      <div class="align-fields">
        <label for="exampleInputEmail1" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="numero"
          (keypress)="validaSenha($event)"
          formControlName="senha"
        />
        <p class="error-email" *ngIf="!senha?.valid">Senha inválida!</p>
      </div>
    </form>
    <!-- <p></p> -->
  </div>
</div>
