<!--The content below is only a placeholder and can be replaced.-->
<div class="container--geral">
  <div class="">
    <form [formGroup]="cadastro" class="">
      <div>
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <p class="error-email" *ngIf="!email?.valid && !email?.pristine">
          Email invalido!
        </p>
      </div>
      <div class="align-fields">
        <label for="exampleInputEmail1" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="numero"
          formControlName="senha"
        />
        <p class="error-email" *ngIf="!senha?.valid && !senha?.pristine">
          A senha precisa ter no mínimo 6 caracteres!
        </p>
      </div>
    </form>
  </div>
</div>
